node_modules
private/eatester.pfx
/dist/.cache/x64/app.exe
/dist/.cache/x64/info.json
/dist/.icon-ico/icon.ico
/dist/EATester Setup 1.0.0.exe
/dist/EATester Setup 1.0.0.exe.blockmap
/dist/builder-effective-config.yaml
/dist/latest.yml
/dist/win-unpacked/EATester.exe
/dist/win-unpacked/LICENSE.electron.txt
/dist/win-unpacked/LICENSES.chromium.html
/dist/win-unpacked/app/pyapp/EATesterPy/Reports/report.json
/dist/win-unpacked/app/pyapp/EATesterPy/Settings/st_settings.ini
/dist/win-unpacked/app/pyapp/EATesterPy/Settings/st_settings_min.json
/dist/win-unpacked/app/pyapp/EATesterPy/Settings/usr_settings.json
/dist/win-unpacked/app/pyapp/EATesterPy/Templ/ea_settings_templ.ini
/dist/win-unpacked/app/pyapp/EATesterPy/Templ/ea_settings_templ.json
/dist/win-unpacked/app/pyapp/EATesterPy/Templ/st_settings_templ.ini
/dist/win-unpacked/app/pyapp/EATesterPy/Tester/dist/eatester.exe
/dist/win-unpacked/app/pyapp/EATesterPy/Tester/dist/reports.exe
/dist/win-unpacked/app/pyapp/EATesterPy/Tester/dist/templ.exe
/dist/win-unpacked/chrome_100_percent.pak
/dist/win-unpacked/chrome_200_percent.pak
/dist/win-unpacked/d3dcompiler_47.dll
/dist/win-unpacked/ffmpeg.dll
/dist/win-unpacked/icudtl.dat
/dist/win-unpacked/libEGL.dll
/dist/win-unpacked/libGLESv2.dll
/dist/win-unpacked/locales/am.pak
/dist/win-unpacked/locales/ar.pak
/dist/win-unpacked/locales/bg.pak
/dist/win-unpacked/locales/bn.pak
/dist/win-unpacked/locales/ca.pak
/dist/win-unpacked/locales/cs.pak
/dist/win-unpacked/locales/da.pak
/dist/win-unpacked/locales/de.pak
/dist/win-unpacked/locales/el.pak
/dist/win-unpacked/locales/en-GB.pak
/dist/win-unpacked/locales/en-US.pak
/dist/win-unpacked/locales/es-419.pak
/dist/win-unpacked/locales/es.pak
/dist/win-unpacked/locales/et.pak
/dist/win-unpacked/locales/fa.pak
/dist/win-unpacked/locales/fi.pak
/dist/win-unpacked/locales/fil.pak
/dist/win-unpacked/locales/fr.pak
/dist/win-unpacked/locales/gu.pak
/dist/win-unpacked/locales/he.pak
/dist/win-unpacked/locales/hi.pak
/dist/win-unpacked/locales/hr.pak
/dist/win-unpacked/locales/hu.pak
/dist/win-unpacked/locales/id.pak
/dist/win-unpacked/locales/it.pak
/dist/win-unpacked/locales/ja.pak
/dist/win-unpacked/locales/kn.pak
/dist/win-unpacked/locales/ko.pak
/dist/win-unpacked/locales/lt.pak
/dist/win-unpacked/locales/lv.pak
/dist/win-unpacked/locales/ml.pak
/dist/win-unpacked/locales/mr.pak
/dist/win-unpacked/locales/ms.pak
/dist/win-unpacked/locales/nb.pak
/dist/win-unpacked/locales/nl.pak
/dist/win-unpacked/locales/pl.pak
/dist/win-unpacked/locales/pt-BR.pak
/dist/win-unpacked/locales/pt-PT.pak
/dist/win-unpacked/locales/ro.pak
/dist/win-unpacked/locales/ru.pak
/dist/win-unpacked/locales/sk.pak
/dist/win-unpacked/locales/sl.pak
/dist/win-unpacked/locales/sr.pak
/dist/win-unpacked/locales/sv.pak
/dist/win-unpacked/locales/sw.pak
/dist/win-unpacked/locales/ta.pak
/dist/win-unpacked/locales/te.pak
/dist/win-unpacked/locales/th.pak
/dist/win-unpacked/locales/tr.pak
/dist/win-unpacked/locales/uk.pak
/dist/win-unpacked/locales/vi.pak
/dist/win-unpacked/locales/zh-CN.pak
/dist/win-unpacked/locales/zh-TW.pak
/dist/win-unpacked/resources.pak
/dist/win-unpacked/resources/app-update.yml
/dist/win-unpacked/resources/app.asar
/dist/win-unpacked/resources/elevate.exe
/dist/win-unpacked/snapshot_blob.bin
/dist/win-unpacked/swiftshader/libEGL.dll
/dist/win-unpacked/swiftshader/libGLESv2.dll
/dist/win-unpacked/v8_context_snapshot.bin
/dist/win-unpacked/vk_swiftshader.dll
/dist/win-unpacked/vk_swiftshader_icd.json
/dist/win-unpacked/vulkan-1.dll
