/***********************************************************
*** GENERAL
***********************************************************/
.ea__more {
    float: right;
    margin: 10px 20px 10px;
}

#ea__more--btn {
    color: #512b58;
    border: none;
    font-family: Libre Baskerville;
}

#ea__more--btn:hover {
    text-decoration: underline;
}

#ea__more--btn:focus {
    outline: none;
}

.ea__content {
    height: 730px;
    width: 600px;
}

.ea__select {
    padding: 7px;
    margin-top: 10px;
    border-radius: 3px;
    border-color: #79bac1;
    font-size: 12px;
    font-weight: 400;
    color: #2a7886;
    background-color: #f1f3f4;    
}

.ea__select:hover {
    border-color: #2a7886;
    transition: all 0.3s;  
}

.ea__select:focus {
    outline: none;
}

.ea__select:checked {
    font-weight: 600;
}

.ea__select::-ms-expand {
	display: none;
}

.ea__select option {
    background-color: #f1f3f4;
}
/***********************************************************
*** TITLE
***********************************************************/

#ea--title {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/***********************************************************
*** MT4 PATH
***********************************************************/
.ea__mt4path {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #2a7886;
}

.ea__mt4path--browse {
    float: right;
    margin-top: 10px;
}

.ea__mt4path--label {
    display: inline-block;
    padding: 6px 9px; 
    font-size: 16px;
    font-weight: 600;
    color: #2a7886;
    background-color: #79bac1;
    border: none;
    border-radius: 3px;
    transition: all 0.15s;
}

.ea__mt4path--label:active{ 
    transform: translateY(1px); 
}

.ea__mt4path--label:hover {
    color: #f1f3f4;
    background-color: #79bac1;
    transition: all 0.3s; 
}

#ea__mt4path--file {
    margin-top: 5px;
}

.ea__mt4path--textbox {
    float: left;
    margin-top: 10px;
    transform: translateX(-7px);
}

/***********************************************************
*** EA LIST
***********************************************************/
.ea__ealist {
    position: absolute;
    top: 328px;
    left: 365px;
    font-size: 15px;
    color: #2a7886;
}

#ea__ealist--select {
    display: block;
    transform: translateX(-7px);
    width: 340px;
    font-weight: 600;
}

/***********************************************************
*** EA TESTING SETTINGS
***********************************************************/
.ea__prop {
    position: absolute;
    top: 450px;
    left: 365px;
    color: #2a7886;
}

.ea__prop textarea {
    margin-top: 10px;
    padding: 7px;
    text-transform: uppercase;
}

.ea__prop select {
    transform: translateX(-7px);
}

.ea__easymbol {
    float: left;
}

#ea__easymbol--text {
    padding-top: 8px;
    transform: translateX(-7px);
    color: #2a7886;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
}

.ea__eaperiod {
    float: left;
    margin-left: 10px;
}

.ea__easpread {
    float: left;
    margin-left: 10px;
}

.ea__eadate {
    position: absolute;
    top: 530px;
    left: 365px;
    color: #2a7886;
}

.ea__eadate input {
    transform: translateX(-7px);
    width: 150px;
    font-weight: 400;
    font-size: 13px;
}

.ea__eadate__box {
    height: 60px;
    float: left;
}

.ea__eadate input {
    border: solid #79bac1;
    border-width: 1px;
    border-radius: 3px;
    background: #f1f3f4;
    margin-top: 10px;
    margin-right: 10px;
}

.ea__eadate input:active {
    outline: none;
    border: solid #2a7886;
    border-width: 1px;
    transition: all 0.3s; 
}

.ea__eadate input:hover {
    outline: none;
    border: solid #2a7886;
    border-width: 1px;
    transition: all 0.3s; 
}

/***********************************************************
*** CONTINUE BUTTON
***********************************************************/
.ea__continue {
    position: absolute;
    bottom: 45px;
    left: 358px;
}
