/***********************************************************
*** GENERAL
***********************************************************/
.results {
    width: 1140px;
    margin: 30px 70px 20px;
    scroll-behavior: smooth;
}

/***********************************************************
*** TOP BAR
***********************************************************/
.results__top {
    margin-right: 10px;
    margin-bottom: 50px;
}

#results--title {
    float: left;
}

.results__btn {
    float: right;
    margin-top: 17px;
    margin-left: 12px;
}

#results__pause--btn {
    margin-right: 24px;
}

#results--info {
    margin-bottom: 20px;
    color: #79bac1;
}


/***********************************************************
*** RESULTS CONTENTS
***********************************************************/

/********** Params columns **********/
.results__bottom {
    height: 536px;
    color: #2a7886;
    font-weight: 600;
}

.results__paramlist {
    float: left;
    width: 865px;
    height: 542px;
    white-space:nowrap; 
    overflow-y: hidden;
    overflow-x: auto;
}

.results__column {
    display: inline-block;
    margin-right: 10px;

    overflow: auto;
}

.results__paramdata {
    float: left;
}

.results__param__select {
    padding: 5px;
    width: 150px;
    border-radius: 3px;
    border-color: #79bac1;
    font-size: 14px;
    color: #2a7886;
    background-color: #f1f3f4;
    font-weight: 600;
}

.results__param__select:hover {
    border-color: #2a7886;
    transition: all 0.3s;
}

.results__param__select:focus {
    outline: none;
}

.results__param__select::-ms-expand {
	display: none;
}

.results__param__select option {
    background-color: #f1f3f4;
}

.results__param__values {
    height: 506px;
    /* sync with results__graphlist in js */
    overflow-y: hidden;

}

.results__param__pvalue {
    width: 60px;
    height: 64px;
}

.results__param__pvalue hr {
    width: 126px;
    transform: translateY(45px);
}

.results__param__values p {
    transform: translate(20px, 25px);
}

.results__param__filter {
    float: left;
    margin-top: 3px;
    margin-left: 3px;
}

.results__addrem {
    display: inline-block;
    vertical-align:top;
    margin-top: 3px;
}

.results__addrem:active {
    transform: translateX(2px);
}

#results__refr--btn {
    float: right;
    margin-right: 5px;
}

#results__del--btn{
    float: right;
    margin-right: 15px;
}

/********** Graphs **********/
.results__graphs {
    float: right;
    width: 265px;
}

/* .resuls__padding {
    height: 30px;
} */

.results__graphlist {
    height: 506px;
    overflow-y: scroll;
}

.results__graphlist img {
    max-height: 60px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}