/***********************************************************
*** GENERAL
***********************************************************/
.ea__more {
    float: right;
    margin: 10px 20px 10px;
}

#ea__more--btn {
    color: #512b58;
    border: none;
    font-family: Libre Baskerville;
}

#ea__more--btn:hover {
    text-decoration: underline;
}

#ea__more--btn:focus {
    outline: none;
}


.ea__content {
    height: 730px;
    width: 600px;
}


/***********************************************************
*** TITLE
***********************************************************/

#ea--title {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/***********************************************************
*** MT4 PATH
***********************************************************/
.ea__mt4path {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #2a7886;
}

.ea__mt4path--browse {
    float: right;
    margin-top: 10px;
}

.ea__mt4path--label {
    display: inline-block;
    padding: 6px 9px; 
    font-size: 16px;
    font-weight: 600;
    color: #2a7886;
    background-color: #79bac1;
    border: none;
    border-radius: 3px;
    transition: all 0.15s;
}

.ea__mt4path--label:active{ 
    transform: translateY(1px); 
}

.ea__mt4path--label:hover {
    color: #f1f3f4;
    background-color: #79bac1;
    transition: all 0.3s; 
}

#ea__mt4path--file {
    margin-top: 5px;
}

.ea__mt4path--textbox {
    float: left;
    margin-top: 10px;
    transform: translateX(-7px);
}

/***********************************************************
*** EA LIST
***********************************************************/
.ea__ealist {
    position: absolute;
    top: 410px;
    left: 365px;
    font-size: 15px;
    color: #2a7886;
}

.ea__ealist__select {
    display: block;
    padding: 7px;
    margin-top: 10px;
    transform: translateX(-7px);
    width: 290px;
    border-radius: 3px;
    border-color: #79bac1;
    font-size: 16px;
    color: #2a7886;
    background-color: #f1f3f4;
    font-weight: 600;
}

.ea__ealist__select:hover {
    border-color: #2a7886;
    transition: all 0.3s;    
}

.ea__ealist__select:focus {
    outline: none;
}

.ea__ealist__select::-ms-expand {
	display: none;
}

.ea__ealist__select option {
    background-color: #f1f3f4;
}

/***********************************************************
*** CONTINUE BUTTON
***********************************************************/
.ea__continue {
    position: absolute;
    bottom: 70px;
    left: 367px;
}
