/***********************************************************
*** GENERAL
***********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="file"] {
    position: absolute;
    visibility: hidden;
  }

body {
    background: #f1f3f4;
    color: #512b58;
    font-family: Open Sans;
    font-size: 14px;
    height: 100vh;
    font-weight: 400;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}

textarea {
    font-size: 13px;
    border-radius: 3px;
    border-color: #79bac1;
    background-color: #f1f3f4;
    padding: 9px;
    resize: none; 
}

textarea:hover {
    border-color: #2a7886;
    transition: all 0.3s;
}

textarea:focus {
    outline: none;
}

hr {
    display: block;
    height: 2px;
    width: 90%;
    margin: auto;
    background-color: #f1f3f4;
    border: none;
    opacity: 25%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.noselect {
    user-select: none;
}

.pageactive {
    color: #512b58;
    background-color: #79bac1;
}

.nonactive {
    opacity: 30%;
}

/***********************************************************
*** TITLE BAR
***********************************************************/
.titlebar {
    -webkit-app-region: drag;
}

.bar {
    background: #2a7886;
    margin: 0;
}

.nav {
    padding: 8px 10px;
    font-size: 1rem;
    float: left;
    -webkit-app-region: no-drag;
}

.nav__btn {
    margin: 0 5px;
    font-size: 16px;
    font-weight: 600;
    color: #79bac1;
    background-color: #2a7886;
    padding: 4px 10px 0;
    border: none;
    border-radius: 3px;
    transition: all 0.15s;
}

.nav__btn:active{ 
    outline: none;
    transform: translateY(1px); 
}

.nav__btn:hover{
    color: #2a7886;
    background-color: #79bac1;
}

.nav__btn:focus{
    outline: none;
}

.menubtnactive {
    color: #512b58;
    background-color: #79bac1;
}

.window {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

.icon__btn {
    padding: 5px 5px;
    font-size: 15px;
    background: none;
    border: none;
    fill: white;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-app-region: no-drag;
}

.icon__btn:active { transform: translateY(1px); } 

.icon__btn:focus{
    outline: none;
}


/***********************************************************
*** TOP PART
***********************************************************/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f1f3f4;
    border-radius: 3px;
}

::-webkit-scrollbar-track{
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #79bac1;
    border-radius: 3px;
}


::-webkit-datetime-edit {
    padding: 7px;
    border-radius: 3px;
}
::-webkit-datetime-edit-text { color: #2a7886; }
::-webkit-datetime-edit-month-field { color: #2a7886  }
::-webkit-datetime-edit-day-field { color: #2a7886  }
::-webkit-datetime-edit-year-field { color: #2a7886  }

.top {
    position: relative;
}

.h1 {
    font-size: 45px;
    font-weight: 700;
    /* color: #2a7886; */
    font-family: Open Sans;
}

.button {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    color: #2a7886;
    background-color: #79bac1;
    border: none;
    border-radius: 3px;
    transition: all 0.15s;
}

.button:active{ 
    transform: translateY(1px); 
}

.button:hover{
    color: #f1f3f4;
    background-color: #79bac1;
    transition: all 0.15s;
}

.button:focus{
    outline: none;
}
/***********************************************************
*** BOTTOM PART
***********************************************************/
.bottom {
    position: absolute;
    height: 32px;
    bottom: 0;
}

.trademark {
    float: left;
    margin: 5px 15px 0;
    font-weight: 500;
    font-family: Libre Baskerville;
}
