/***********************************************************
*** GENERAL
***********************************************************/
.params {
    width: 1140px;
    margin: 30px 70px 20px;
    scroll-behavior: smooth;
}

/***********************************************************
*** TOP BAR
***********************************************************/
.params__top {
    margin-right: 10px;
    margin-bottom: 50px;
}

#params--title {
    float: left;
}

.params__btn {
    float: right;
    margin-top: 17px;
    margin-left: 12px;
}

#params__run--btn {
    margin-right: 24px;
}

#params--info {
    margin-bottom: 20px;
    color: #79bac1;
}
/***********************************************************
*** PARAMS CONTENTS
***********************************************************/
.params__row {
    margin-bottom: 10px;
}

.params__row:hover {
    color: #512b58;
}

.params__bottom {
    height: 517px;
    color: #2a7886;
    font-weight: 600;
    overflow-y: auto;
    overflow-x: auto;
}

.params__pname {
    float: left;
    width: 180px;
    margin-top: 8px;
}

.params__pval {
    margin-left: 10px;
    float: left;
}

.params__add {
    float: left;
    margin-top: 10px;
}

.params__addrembtn {
    padding: 0px;
    margin-left: 10px;
}

.params__addrembtn:active {
    transform: translateX(2px);
}

