/***********************************************************
*** GENERAL
***********************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="file"] {
    position: absolute;
    visibility: hidden;
  }

body {
    background: #f1f3f4;
    color: #512b58;
    font-family: Open Sans;
    font-size: 14px;
    height: 100vh;
    font-weight: 400;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.noselect {
    user-select: none;
}

.right { float: right; }

/***********************************************************
*** TITLE BAR
***********************************************************/
.titlebar {
    -webkit-app-region: drag;
}

.bar {
    background: #2a7886;
    margin: 0;
}

.nav {
    padding: 8px 10px;
    font-size: 1rem;
    float: left;
    -webkit-app-region: no-drag;
}

.nav__btn {
    margin: 0 5px;
    font-size: 16px;
    font-weight: 600;
    color: #79bac1;
    background-color: #2a7886;
    padding: 4px 10px 0;
    border: none;
    border-radius: 3px;
    transition: all 0.15s;
}

.nav__btn:active{ 
    outline: none;
    transform: translateY(1px); 
}

.nav__btn:hover{
    color: #2a7886;
    background-color: #79bac1;
}

.nav__btn:focus{
    outline: none;
}

#nav__btn--ea {
    color: #512b58;
    background-color: #79bac1;
}

.window {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

.window__btn {
    padding: 5px 5px;
    font-size: 15px;
    background: none;
    border: none;
    color: #512b58;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-app-region: no-drag;
}

.window__btn:active { transform: translateY(1px); } 

.window__btn:focus{
    outline: none;
}
/***********************************************************
*** TOP PART
***********************************************************/
.top {
    position: relative;
}


/*************** Page1: ea ******************/
.ea__more {
    float: right;
    margin: 10px 20px 10px;
}

#ea__more--btn {
    color: #512b58;
    border: none;
    font-family: Libre Baskerville;
}

#ea__more--btn:hover {
    text-decoration: underline;
}

#ea__more--btn:focus {
    outline: none;
}


.ea__content {
    height: 730px;
    width: 600px;
}

#ea__title {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 700;
    /* color: #2a7886; */
    font-family: Open Sans;
}

.ea__mt4path {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #2a7886;
}

.ea__mt4path--browse {
    float: right;
    margin-top: 10px;
}

.ea__mt4path--label {
    display: inline-block;
    padding: 6px 9px; 
    font-size: 16px;
    font-weight: 600;
    color: #2a7886;
    background-color: #79bac1;
    border: none;
    border-radius: 3px;
    transition: all 0.15s;
}

.ea__mt4path--label:active{ 
    transform: translateY(1px); 
}

.ea__mt4path--label:hover {
    color: #f1f3f4;
    background-color: #79bac1;
    transition: all 0.3s; 
}

#ea__mt4path--file {
    margin-top: 5px;
}

.ea__mt4path--textbox {
    float: left;
    margin-top: 10px;
    transform: translateX(-7px);
}

#ea__mt4path--path {
    border-radius: 3px;
    border-color: #79bac1;
    padding: 9px;
    resize: none;
}

#ea__mt4path--path:hover {
    border-color: #2a7886;
    transition: all 0.3s;
}

#ea__mt4path--path:focus {
    outline: none;
}

.ea__ealist {
    position: absolute;
    top: 400px;
    left: 367px;
    /* transform: translate(-50%, -50%); */
    font-size: 15px;
    color: #2a7886;
}

.ea__getparams {
    position: absolute;
    bottom: 70px;
    left: 368px;
}

#ea__getparams--btn {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    color: #2a7886;
    background-color: #79bac1;
    border: none;
    border-radius: 3px;
    transition: all 0.15s;
    /* opacity: 50%; */
}

#ea__getparams--btn:active{ 
    transform: translateY(1px); 
}

#ea__getparams--btn:hover{
    color: #f1f3f4;
    background-color: #79bac1;
    transition: all 0.3s;
}

#ea__getparams--btn:focus{
    outline: none;
}

/*************** Page2: params **************/


/*************** Page1: results *************/


/***********************************************************
*** BOTTOM PART
***********************************************************/
.bottom {
    position: absolute;
    height: 32px;
    bottom: 0;
}

.trademark {
    float: left;
    margin: 5px 15px 0;
    font-weight: 500;
    font-family: Libre Baskerville;
}
